[submodule "CodeAlpha_Task1"]
	path = CodeAlpha_Task1
	url = https://github.com/10urmh/CodeAlpha_LanguageTranslator.git
[submodule "CodeAlpha_Task4"]
	path = CodeAlpha_Task4
	url = https://github.com/10urmh/CodeAlpha_ObjectDetectionTracking.git
